@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<img src="/images/smartphone.jpg" alt="" width="600" height="400">
<p>
    Samsung Semiconductor is moving onward, from protecting
    to saving the earth
    with green chips
</p>
<p>
    With innovative technology, we develop low-power products and reduce our carbon footprint.

    We are building an eco-friendly workplace that is a leader in resouce circulation and working with the community to preserve nature.
</p>